{%extends 'base.html'%}
{%block title%} Index Webapp weather {%endblock%}
{% from 'bootstrap5/form.html'  import render_form%}

{%block content%}
<div class="container col-6 my-4">
    {%if location%}
    <h1>Weather forecast for: {{location}}</h1>
    {% with messages = get_flashed_messages()%}
    {%if messages%}
    {%for message in messages%}
    <p style="color:red">{{message}}</p>
    {%endfor%}
    {% endif %}
    {% endwith %}
    {%endif%}

    {%if email_form%}
    <h1>Let me know if it is going to rain.</h1>
    {{render_form(email_form,novalidate=True)}}
    {%endif%}
    <br>
    <a href={{url_for('home')}} class="btn btn-primary">Check another location.</a>
    <hr>
    {%if weather_data_today%}
    <h2>Weather forecast for today - {{today}}</h2>
    {%for element in weather_data_today%}
    <p>Time: {{element['date'].split(' ')[1]}} Temp: {{element['temp']}} C Temp min: {{element['temp_min']}} C Temp
        max:{{element['temp_max']}} C Main: {{element['weather']}} Description:{{element['description']}}</p>
    {%endfor%}
    {%endif%}

    {%if weather_data_rest%}
    <h2>Weather forecast </h2>
    {%for element in weather_data_rest%}
    {%if weather_data_rest.index(element) % 8 ==0%}
    <h3>Date: {{element['date'].split(' ')[0]}}</h3>
    {%endif%}
    <p>Time: {{element['date'].split(' ')[1]}} Temp: {{element['temp']}} C Temp min: {{element['temp_min']}} C Temp
        max:{{element['temp_max']}} C Main: {{element['weather']}} Description:{{element['description']}}</p>

    {%endfor%}
    {%endif%}
</div>
{%endblock%}